<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/IMAGES-IAM-IDPROOFING_illustration_iam-idproofing.svg" alt="" />
  </div>
  <div class="headings">
    <h2>User Identification</h2>
  </div>
</header>

<%- include('partials/footer'); -%>
